<h1 class="mb-4">Reviews</h1>

<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>User</th>
      <th>Event</th>
      <th>Rating</th>
      <th>Comment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= link_to review.user.name, user_path(review.user) %></td>
        <td><%= link_to review.event.name, event_path(review.event) %></td>
        <td>⭐ <%= review.rating %>/5</td>
        <td><%= truncate(review.comment, length: 60) %></td>
        <td><%= link_to "View", review_path(review), class: "btn btn-sm btn-outline-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>